
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DK+Loopet:wght@100..400&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');

.playwrite-dk-loopet-miama {
  font-family: 'miama', sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* Sharing code style */
body{
    background-color: black;
    background-size: cover;
    width:100%;
    margin:0;
    padding:0;
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.primary-btn{
    color:white;
    background-color:rgb(224, 101, 82) ;
    border:rgb(224, 101, 82) solid 1px;
    border-radius: 20px;
    text-align: center;
    height: 25px;
    width: auto;
    font-size: 18px;
    font-weight: 400;
   

}

h2, h1, h3 {
    color:white;
}

/* Header section style */
.header-section {
    background-position: cover;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    width:100%;
    height: 715px;
    margin:0;
    padding:0;
    
}
.title-nav{
    position: relative;
    display:flex;
    justify-content: space-between;
    width:1060px;
    top:20px;
    left:120px;
}

.title-header{
    color: rgb(230,83,60);
    font-size: 36px;
    font-weight: 800;
}

.title-nav-option>a{
    color:white;
    text-decoration: none; 
    
}

.title-nav-bar>i{
    display:none;
    color:white;
}
.title-nav-option{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 5.5rem;
    margin-left:-1%;
   

}
.title-nav-bar{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width:469px;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    gap: 2rem;
    padding:5px;
}
.home-btn{
    text-align: center;
    width:60px;
    height:23px;
    padding-top: 3px;
}



.header-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-left: 120px;
    margin-top: 100px;
    height:440px;
}


.header-container-text h1{
    font-size: 78px;
    font-weight: 900;
    line-height: 80%;
    color:white;
    text-align: left;
    width:450px;
}



.join-club-btn{
    width:224px;
    height:54px;
    border-radius: 42px;
}

.download-btn{
    color:white;
    font-size: 18px;
    font-weight: 500;
    background-color: gray;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    height: 54px;
    width:224px;



}

.header-container-image img{
    position:absolute;
    width:330px;
    height: 500px;
    top: 75px;
    left:877px;
}


.free-workout-videos, .video-tutorial{
    border:1px solid gray;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    width:150px;
    height: 80px;
    text-align: left;
    padding:10px;
    backdrop-filter: blur(20px);
}
.free-workout-videos{
    position: relative;
    transform: translate(200% , -30%);
}

.video-tutorial{
    display:grid;
    grid-template-columns: .5fr 1.5fr;
    gap: 1rem;
    position:relative;
    transform: translate(5%,85%);
    padding:5px;
}

.blank-color{
    background-color:rgb(230,83,60) ;
    align-items: center;
    height: 40px;
    width:40px;
    border-radius: 50px;
    margin-top: 30px;

}

/* Change Your Habit style */

.change-your-habit-container{
    
    background-color: black;
    background-size: cover;
    height: 452px;
    width: 1044px;
    margin: 100px 120px;
    padding:20px;
}

.change-your-habit-text{
    text-align: center;
}
.change-your-habit-text h1{
    font-size: 36px;
    font-weight: 800;

}

.change-your-habit-image{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.change-your-habit-image p,
h3 {
    text-align: center;
}

.change-image img{
    border:1px solid black;
    width:240px;
    height:180px;
    border-radius:50% ;
}

/* Run easily section style */

.run-easily{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:1060px;
    height:371px;
    background-color: rgb(34, 34, 34);
    margin:0 auto;
    gap:165px;
    border-radius: 20px;
}

.run-btn{
    font-size: 16px;
    width:224px;
    height:54px;
    margin-top: 40px;
}

.run-easily-text{
    width:443px;
    height: 290px;
    margin-top: 35px;
    margin-left:54px;
}

.run-easily-text h1{
    font-size: 36px;
    font-weight: 800;

}


.run-easily-img img{
    width:366px;
    height:312px;
    border-radius: 20px;
    margin-top:15px;
    margin-right: 36px;

}


/* Training and exercise section style */
.training-and-exercise-container{
    width:1060px;
    height:581px;
    margin-top: 100px;
    margin-left: 80px;

}

.training-and-exercise-text{
    width:671px;
    height:120px;
}

.training-and-exercise-text h1{
    font-size: 48px;
    font-weight: 900;
}


.training-and-exercise-image-container{
    margin-top:15px;
    display: grid;
}

.training-and-exercise-image-container-row-1{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 230px;
}

.image-1{  
    position:relative;  
    background-color:rgba(6, 255, 210, 0.5);
    height:230px;
    width:265px;
    z-index: 1;
    overflow: visible;
    
}

 
.image-2{  
    position: relative;    
    background: rgba(255, 0, 0, 0.3);
    z-index: 1;
}

.image-3{
    position: relative;   
    color:linear-gradient(rgba(231, 23, 23, 0.5),100%) ;
    z-index: 1;
}
 .image-1 img,
 .image-3 img{
    position: absolute;
    height:230px;
    width:265px;
    background-position: cover;
    z-index: -1;
    opacity: .5;
 } 

 .image-2 img{
    position: absolute;
    height:230px;
    width:530px;
    z-index: -1;
    opacity: .5;
 }
 

    

 .training-and-exercise-image-container-row-2{
    display:grid;
    grid-template-columns:2fr 1fr 2fr;
    height:230px;
 }

 .image-4{
    position:relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
 }
 .image-5{
    position:relative;
    background: rgba(66, 255, 0, 0.3);
    z-index: 1;
 }
 .image-6{
    position:relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
 }


 
 .image-5 img{
    position:absolute;
    width:230px;
    height:230px;
    z-index: -1;
    opacity: .5;
 }
 .image-4 img,
 .image-6 img{
    position:absolute;
    width:423.5px;
    height:230px;
    z-index: -1;
    opacity: .5;
 }


 /* BMI Calculator section style */

 .bmi-calculator{
    margin-top: 88px;
    
 }


 .bmi-clctr-text{
    width:671px;
    height:120px;
    margin-left:314.5px;
 }


 .bmi-clctr-text>h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 10%;
}


.bmi-clctr-content {
    margin-top: 70px;
    background-color: rgb(34, 34, 34);
    /* background-size: cover; */
    width:100%;
    height:487px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }


 .bmi-clctr-table>table{
    width:310px;
    height:216px;
    
 }
 td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    gap:0;
   
    padding:15px;
    text-align: left;
 }
 th{
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
 }

 td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

 }

 .bmi-clctr-text-info{
    width:577px;
    height: 96px;
    line-height:80% ;
    margin-top: 10px;
 }

 .bmi-clctr-form>div>form{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    width:577px;
    gap:12px;
 }

 .bmi-clctr-form>.bmi-clctr-option>form>input,
 #sex,
 #activity{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding:12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;

 }

 #activity{
    grid-column:1 / span 2 ;
 }
 #sex>option{
    background-color:rgba(255, 255, 255, 0.5) ;
    display: block;
 }

 


 .calculate-btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    width:230px;
    height:45px;
    border:1px solid rgb(230, 83, 60) ;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top: 20px;
 }



 /* Meet Our Team Section style */

 .meet-our-team-container{
    width:1060px;
    height:782px;
    margin-top: 88px;
    margin-left: 80px;
 }
 .meet-our-team-text>h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 15%;
 }


 .meet-our-team-text{
    width:671px;
    height:120px;
    margin-left: 190px;
    text-align: center;
 }

 .meet-our-team-img-container{
    width:1060px;
    height:600px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3,354px);
    grid-template-rows: repeat(2,280px);
    justify-items: center;
    align-content: space-around;
    
 }

 .meet-our-team-img-container>div>img{
    position:relative;
    width:326.67px;
    height:272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    opacity:70%;


 }

 .meet-our-team-img-container>div>div{
    position:relative;
    transform: translateY(-160%) translateX(10%);
    width:230px;
    height:72px;
}

 .meet-our-team-img-container>div>div>h3,
 .meet-our-team-img-container>div>div>p{
    text-align: left;
    line-height: 50%;
 }


 /* Footer Section style */
 .footer-section{
    width:100%;
    height:489px;
    background-color:rgba(255, 255, 255, 0.1) ;
    margin-top: 88px;
    display: flex;
    flex-direction: column;


 }


 .footer-section-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    top:66px;
    
 }


.footer-logo-text{
    width:443px;
    height:176px;

}

.footer-logo-text>h1{
    color: rgb(230,83,60);
    font-size: 70px;
    font-weight: 800;
    line-height: 15%;
}

.get-started-1,
.get-started-2{
    width:181px;
    height:249px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}


.get-started-1>a,
.get-started-2>a{
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255,0.5);
    text-decoration: none;
}



.get-started-last-part{
    position:relative;
    top:150px;
    text-align: center;
}

.get-started-last-part>hr{
  width:1059px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}




